<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>auth test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  </head>

  <body>
    <!-- facebook auth -->
    <div style="width:300px;height:100px;background-color:skyblue;text-align:center;" id="js-facebookAuthBtn">Facebookでログイン</div>

    <!-- line auth -->
    <!-- <a href="https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id={{ line_channel_id }}&redirect_uri=http://localhost:5000/linetest&state={{ line_state }}&scope=openid%20profile"><div style="width:300px;height:100px;background-color:lightgreen;text-align:center;">LINEでログイン</div> -->
    <div style="width:300px;height:100px;background-color:lightgreen;text-align:center;" id="js-lineAuthButton">LINEでログイン</div>

    <script type="text/javascript" src="/static/js/app.{{ static_file_version }}.js"></script>

  </body>
</html>
